.user-list .modal {
    width: 440px;
    background-color: white;
    border: 2px solid #000;
    padding: 16px 32px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
}

.user-list .button {
    margin: 10px;
    padding: 12px 24px; 
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s; 
}

.user-list .button:hover {
    background-color: #0069d9; 
}

.user-list .button:active {
    padding: 12px 24px; 
}

.user-list .button-icon {
    margin-right: 5px;
}

.user-list input[type="text"],
.user-list input[type="email"],
.user-list input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc; 
    font-size: 16px;
}

.user-list label {
    display:block;
    margin-bottom:5px;
}

@media (max-width:740px) {
   .user-list .modal {
        width:80%;
        border-radius:10px;
   }
   .user-list .MuiPaper-root {
        height:100%;
        overflow:auto;
        max-height:499px;
        overflow-x:auto;
   }
}

.user-list .large-button {
   padding :15px30px ;
   font-size :16px ;
}

.user-list .red-button {
   background-color:red ;
   color:white ;
}
